body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

ul {
  list-style: none;
  padding: 2rem;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: column;
}
li {
  background-color: brown;
  padding: 1rem;
}

li:hover {
  background-color: aliceblue;
  color: black;
}

.navbar {
}
.red {
  background-color: red;
  display: none;
}

.caja__button {
  position: absolute;
  top: 0;
  left: 0;
}

.button {
  border: none;
  /* background-color: rgb(17, 129, 17); */
  margin-left: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 50%;
}

.button:hover {
  background-color: rgb(100, 84, 84);
}
